In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv(rf"/content/amazon_footwear_data_maindata.csv")

In [ ]:
data.head()

,Brand,Gender,Category,Price (₹),Discount (%),Rating,Sales Count,Country,Water Resistant
0,Bata,Women's,Sandal,429.0,39.0,4.0,500,India,NO
1,SPARX,Men's,Sandal,629.0,37.0,4.0,800,India,NO
2,XE,Women's,Heels,699.0,72.0,4.0,50,India,NO
3,Centrino,Men's,Flip-Flop,769.0,67.0,3.6,0,India,NO
4,Sparx,Men's,Slippers,279.0,20.0,4.1,1,India,NO

In [ ]:
data.Brand.value_counts()

Brand
DOCTOR      94
Bata        86
Puma        52
Woodland    47
Mochi       25
            ..
Carlton      1
Aircum       1
TOR          1
HOOH         1
ANDUNE       1
Name: count, Length: 217, dtype: int64

In [ ]:
data=data[~data['Brand'].isin(['Foot','Women','Men','The','U', 'R',])]  #removing unwanted brands

In [ ]:
# df1=data.Brand.value_counts()

In [ ]:
# df1

In [ ]:
# df1.rename('count1',inplace=True)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df1=df1.to_frame()   #convert the series into a dara frame

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [ ]:
# df1[df1['count1'] >10]

In [ ]:
data.Category=data.Category.str.lower()

In [ ]:
data.Category=data.Category.str.rstrip('s')

In [ ]:
data

In [ ]:
# prompt: mode of gender_cartegory groupby category

l=data.groupby('Category')['Gender_cartegory'].agg(lambda x: x.mode() if not x.mode().empty else None)

In [ ]:
# prompt: use l to update  Gender_cartegory and update only nans
# data['Gender_cartegory'] = data.apply(lambda row: l[row['Category']] if pd.isna(row['Gender_cartegory']) else row['Gender_cartegory'], axis=1)
data['Gender_cartegory'] = data.apply(lambda row: l.get(row['Category'], np.nan) if pd.isna(row['Gender_cartegory']) else row['Gender_cartegory'], axis=1)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 957 entries, 0 to 977
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             957 non-null    object
 1   Gender_cartegory  948 non-null    object
 2   Category          938 non-null    object
 3   Price (₹)         957 non-null    float64
 4   Discount (%)      949 non-null    float64
 5   Rating            913 non-null    float64
 6   Sales Count       957 non-null    int64
 7   Country           926 non-null    object
 8   Water Resistant   957 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 74.8+ KB

In [ ]:
data.Gender.unique()

AttributeError: 'DataFrame' object has no attribute 'Gender'

In [ ]:
data.rename(columns={'Gender':'Gender_cartegory'},inplace=True)

In [ ]:
data.Gender_cartegory=data.Gender_cartegory.str.lower()

In [ ]:
data

,Brand,Gender_cartegory,Category,Price (₹),Discount (%),Rating,Sales Count,Country,Water Resistant
0,Bata,women's,sandal,429.0,39.0,4.0,500,India,NO
1,SPARX,men's,sandal,629.0,37.0,4.0,800,India,NO
2,XE,women's,heel,699.0,72.0,4.0,50,India,NO
3,Centrino,men's,flip-flop,769.0,67.0,3.6,0,India,NO
4,Sparx,men's,slipper,279.0,20.0,4.1,1,India,NO
...,...,...,...,...,...,...,...,...,...
973,egoss,men's,shoe,3320.0,5.0,4.1,0,India,NO
974,Clarks,men's,shoe,4249.0,29.0,4.0,0,India,NO
975,Red,men's,shoe,2875.0,10.0,3.8,0,India,NO
976,ANDUNE,men's,shoe,2499.0,11.0,3.5,0,China,NO
977,Bata,men's,shoe,2180.0,5.0,3.9,0,India,NO

In [ ]:
l2=data.groupby('Brand')['Discount (%)'].mean()

In [ ]:
data['Discount (%)'] = data.apply(lambda row: l2.get(row['Brand'], np.nan) if pd.isna(row['Discount (%)']) else row['Discount (%)'], axis=1)

In [ ]:
l3=data.groupby('Brand')['Rating'].mean()

In [ ]:
data['Rating'] = data.apply(lambda row: l3.get(row['Brand'], np.nan) if pd.isna(row['Rating']) else row['Rating'], axis=1)

In [ ]:
l4=data.groupby('Brand')['Country'].agg(lambda x: x.mode()[0] if not x.mode().empty else None)

In [ ]:
data['Country'] = data.apply(lambda row: l3.get(row['Brand'], np.nan) if pd.isna(row['Country']) else row['Country'], axis=1)

In [ ]:
data=data.dropna()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 924 entries, 0 to 977
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             924 non-null    object
 1   Gender_cartegory  924 non-null    category
 2   Category          924 non-null    category
 3   Price (₹)         924 non-null    float64
 4   Discount (%)      924 non-null    float32
 5   Rating            924 non-null    float32
 6   Sales Count       924 non-null    int32
 7   Country           910 non-null    object
 8   Water Resistant   924 non-null    object
dtypes: category(2), float32(2), float64(1), int32(1), object(3)
memory usage: 49.3+ KB

In [ ]:
data['Gender_cartegory']=data.Gender_cartegory.astype('category')

<ipython-input-307-376d6dc2f907>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gender_cartegory']=data.Gender_cartegory.astype('category')

In [ ]:
data.describe(include='all')

,Brand,Gender_cartegory,Category,Price (₹),Discount (%),Rating,Sales Count,Country,Water Resistant
count,910,910,910,910.000000,910.000000,910.000000,910.000000,910,910
unique,184,5,8,NaN,NaN,NaN,NaN,6,2
top,DOCTOR,men's,shoe,NaN,NaN,NaN,NaN,India,NO
freq,92,444,302,NaN,NaN,NaN,NaN,823,864
mean,NaN,NaN,NaN,1367.487912,47.114811,3.876140,8.576923,NaN,NaN
std,NaN,NaN,NaN,1310.181979,18.338512,0.543471,40.866227,NaN,NaN
min,NaN,NaN,NaN,149.000000,1.000000,1.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,620.250000,33.000000,3.600000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,899.000000,49.960785,3.900000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,1724.500000,62.000000,4.100000,0.000000,NaN,NaN
max,NaN,NaN,NaN,13995.000000,85.000000,5.000000,800.000000,NaN,NaN

In [ ]:
data['Category']=data.Category.astype('category')

<ipython-input-296-c875b1f7f42e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Category']=data.Category.astype('category')

In [ ]:
data['Discount (%)']=data['Discount (%)'].astype('float32')

<ipython-input-300-3f6a1ec59b00>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Discount (%)']=data['Discount (%)'].astype('float32')

In [ ]:
data['Rating']=data['Rating'].astype('float32')

<ipython-input-303-70ae77d49bfa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Rating']=data['Rating'].astype('float32')

In [ ]:
data['Sales Count']=data['Sales Count'].astype('int32')

<ipython-input-305-f72723f170d8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sales Count']=data['Sales Count'].astype('int32')

In [ ]:
data.Country.unique()

array(['India', 'China', 'Vietnam', 'Indonesia', 3.755555555555555,
       'Italy', 4.266666666666667, 3.9333333333333336, 2.7,
       3.682608695652174, 4.1, 3.8, 4.0, 3.770588235294117, 4.3, 2.6,
       'Thailand', 3.6333333333333333, 5.0, 4.15, 2.4, 3.3], dtype=object)

In [ ]:
data[~data.Country.isin(['India', 'China', 'Vietnam', 'Indonesia',
       'Italy',
      #  'Thailand',])]

SyntaxError: incomplete input (<ipython-input-314-e5fae630525e>, line 3)

In [ ]:
data['Country'] = data.apply(lambda row: np.nan if row['Country'].isdigit() else row['Country'], axis=1)

AttributeError: 'numpy.float64' object has no attribute 'isdigit'

In [ ]:
# prompt: if country has float replace it with nan

import numpy as np
# ... (Your existing code)

# Convert numeric strings in 'Country' to NaN
data['Country'] = data['Country'].apply(lambda x: np.nan if isinstance(x, (int, float)) else x)

In [ ]:
data['Country'] = data['Country'].apply(lambda x: np.nan if isinstance(x, (int, float)) else x)

<ipython-input-320-5411c1ac5565>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Country'] = data['Country'].apply(lambda x: np.nan if isinstance(x, (int, float)) else x)

In [ ]:
l5=data.groupby('Brand')['Country'].agg(lambda x: x.mode()[0] if not x.mode().empty else None)

In [ ]:
data['Country'] = data.apply(lambda row: l5.get(row['Brand'], np.nan) if pd.isna(row['Country']) else row['Country'], axis=1)

<ipython-input-324-8161ba19cb5c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Country'] = data.apply(lambda row: l5.get(row['Brand'], np.nan) if pd.isna(row['Country']) else row['Country'], axis=1)

In [ ]:
data=data.dropna()

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 910 entries, 0 to 977
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            910 non-null    object
 1   Gender_category  910 non-null    object
 2   Category         910 non-null    category
 3   Price (₹)        910 non-null    float64
 4   Discount (%)     910 non-null    float32
 5   Rating           910 non-null    float32
 6   Sales Count      910 non-null    int32
 7   Country          910 non-null    category
 8   Water Resistant  910 non-null    category
 9   Gender           910 non-null    object
dtypes: category(3), float32(2), float64(1), int32(1), object(3)
memory usage: 49.6+ KB

In [ ]:
data['Country']=data['Country'].astype('category')

<ipython-input-332-8175ff808236>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Country']=data['Country'].astype('category')

In [ ]:
data['Water Resistant']=data['Water Resistant'].astype('category')

<ipython-input-334-033933ecbb5b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Water Resistant']=data['Water Resistant'].astype('category')

In [ ]:
data.rename(columns={' Gender_category':'Gender_category'},inplace=True)

<ipython-input-341-0ad5baed1625>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={' Gender_category':'Gender_category'},inplace=True)

In [ ]:
data['Gender_category']=data['Gender_category'].str.rstrip("'s")

<ipython-input-342-ff6d5dc1378a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gender_category']=data['Gender_category'].str.rstrip("'s")

In [ ]:
data.Gender_category.unique()

array(['women', 'men', 'girl', 'unisex', 'boy'], dtype=object)

In [ ]:
data['Gender']=data.apply(lambda row: 'female' if row['Gender_category'] in ['women','girl']
                                      else 'male' if row['Gender_category'] in ['men','boy']
                                      else 'unisex',axis=1)

<ipython-input-349-cd7973ae4427>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gender']=data.apply(lambda row: 'female' if row['Gender_category'] in ['women','girl']

In [ ]:
data

,Brand,Gender_category,Category,Price (₹),Discount (%),Rating,Sales Count,Country,Water Resistant,Gender
0,Bata,women,sandal,429.0,39.0,4.0,500,India,NO,female
1,SPARX,men,sandal,629.0,37.0,4.0,800,India,NO,male
2,XE,women,heel,699.0,72.0,4.0,50,India,NO,female
3,Centrino,men,flip-flop,769.0,67.0,3.6,0,India,NO,male
4,Sparx,men,slipper,279.0,20.0,4.1,1,India,NO,male
...,...,...,...,...,...,...,...,...,...,...
973,egoss,men,shoe,3320.0,5.0,4.1,0,India,NO,male
974,Clarks,men,shoe,4249.0,29.0,4.0,0,India,NO,male
975,Red,men,shoe,2875.0,10.0,3.8,0,India,NO,male
976,ANDUNE,men,shoe,2499.0,11.0,3.5,0,China,NO,male
977,Bata,men,shoe,2180.0,5.0,3.9,0,India,NO,male

In [ ]:
data.to_csv('amazon_footwear_data_maindata_cleaned.csv',index=False)

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(rf"/content/amazon_footwear_data_maindata_cleaned.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 910 entries, 0 to 909
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            910 non-null    object
 1   Gender_category  910 non-null    object
 2   Category         910 non-null    object
 3   Price (₹)        910 non-null    float64
 4   Discount (%)     910 non-null    float64
 5   Rating           910 non-null    float64
 6   Sales Count      910 non-null    int64
 7   Country          910 non-null    object
 8   Water Resistant  910 non-null    object
 9   Gender           910 non-null    object
dtypes: float64(3), int64(1), object(6)
memory usage: 71.2+ KB

In [4]:
data.Brand.unique()

array(['Bata', 'SPARX', 'XE', 'Centrino', 'Sparx', 'Shoetopia',
       'KazarMax', 'HEALTH', 'SilverArrow', 'Hush', 'Mochi', 'LUVFEET',
       'DOCTOR', 'Bacca', 'FLITE', 'Crocs', 'Marc', 'Ortho', 'Neeman',
       'CASSIEY', 'Metro', 'FAUSTO', 'SVAAR', 'BATA', 'TRASE', 'Dr',
       'Carlton', 'SCHOLL', 'DRUNKEN', 'ORTHO', 'Scholl', 'Woodland',
       'ASIAN', 'adidas', 'Van', 'LOVEHUSH', 'GLAMSTREET', 'Hygear',
       'CANVI', 'AADI', 'DFR', 'Sandak', 'Yellow', 'Columbia', 'Puma',
       'Liberty', 'ABROS', 'Leepeeter', 'ARAMISH', 'Skechers', 'FEROC',
       'TrueYarn', 'Power', 'Rising', 'ASICS', 'Campus', 'SHOERELLA',
       'HITZ', 'Kids', 'Auserio', 'crocs', 'FILA', 'Neoz', 'Elle',
       'Disney', 'Lancer', 'tresmode', 'Smart', 'STEPIZIA', 'BKRT',
       'BELLA', 'Bubblegummers', 'Yash', 'HEIGHTEN', 'V', 'Richmen',
       'AROOM', 'HD', 'Luxyfeel', 'Wolvesden', 'BERSACHE', 'DR',
       'doubleu', 'VIL', 'WALKAROO', 'LANCER', 'ANNTS', 'San', 'Ajanta',
       'Shoe', 'Red', 'ASE', 'HOOH', 'TOR', 'Aircum', 'OFF', 'XYMBOLIC',
       'New', 'Lee', 'Eego', 'Zixer', 'WELL', 'White', 'Amico', 'Plaeto',
       'Louis', 'Zoom', 'BOENJOY', 'Melbees', 'Big', 'JACK', 'ILU',
       'Tara', 'Feeten', 'JQR', 'PARAGON', 'LOUIS', 'Unistar',
       'CULTSPORT', 'Karam', 'Vector', 'Nike', 'egoss', 'Jaripeo',
       'ATHCO', 'Clarks', 'AVANT', 'Allen', 'FASHION', 'Cantabil',
       'SHOESHINE', 'YOHO', 'SG', 'GRAH', 'Mallcom', 'Vetro', 'Dekkin',
       'Legwork', 'FootStation', 'PASSION', 'North', 'DESI', 'THE',
       'EVOLTAR', 'Sagar', 'Coolz', 'Action', 'Inflation', 'PRO', 'Clan',
       'Casual', 'Nivia', 'Adidas', 'HUNDRED', 'Heels', 'Bigboon',
       'SENCUS', 'SEGA', 'Glemia', 'WESTCODE', 'Zaydn', 'THNXBRO', 'TCCO',
       'SOLETHREADS', 'ADDA', 'PRATTLE', 'BRUTON', 'STANPHORD', 'ID',
       'CLYMB', 'Symbol', 'FORSSIL', 'SIR', 'REETIK', 'Columbus',
       'Bourge', 'OZJI', 'KARAM', 'BXXY', 'Sassyvilla', 'DSC', 'Prokick',
       'Star', 'ANDUNE'], dtype=object)